*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/google-services.json
/release.keystore
/app/release/app-release.aab
/.claude/settings.local.json
/upload_certificate.pem
